.basketSidebar--bg.--open{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.basketSidebar--sidebar {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100%;
    width: 500px;
    max-width: 100%;
    background-color: $white;
    color: $dark;
    visibility: hidden;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.--open.basketSidebar--sidebar {
    visibility: visible;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.basketSidebar--inner {
    height: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include responsive('small') {
        padding: 20px;
    }
}

.basketSidebar--products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basketSidebar--product {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.basketSidebar--img {
    width: 80px;
    height: 80px;
    @include responsive('small') {
        width: 50px;
        height: 50px;
    }
}

.basketSidebar--name {
    font-size: 14px;
    line-height: 1.2;
    display: block;
}

.basketSidebar--details {
    flex: 1;
}

.basketSidebar--price {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
}

.basketSidebar--links {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    .button--blue, .buttonDark {
        width: 100%;
        max-width: none;
        text-align: center;

        @include responsive('small') {
            padding: 12px 20px;
        }
    }
}

.basketSidebar--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #ededed;
    margin-bottom: 10px;

    span {
        font-size: 20px;
        line-height: 1;
    }
}

.basketSidebar--close {
    background-color: $white;
    color: $dark;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include responsive('small') {
        width: 28px;
        height: 28px;
    }
}

.basketSidebar--deleteLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: $dark;

    svg {
        fill: $white;
        width: 16px;
        height: 16px;
        margin: auto;

        @include responsive('small') {
            width: 12px;
            height: 12px;
        }
    }
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    @include responsive('small') {
        width: 28px;
        height: 28px;
    }
}