.single-wrapper {
    width: 80vw;
    margin: auto;

    @include responsive('tablet'){
        width: 100vw;
    }
}

.single-header {
    .pageHeader--inner {
        justify-content: flex-start;

        @include responsive('small'){
            flex-direction: column-reverse;
            gap: 25px;
        }
    }
}

.single-header-container {
    width: 70%;
}

.single-header-date {
    writing-mode: tb-rl;
    height: fit-content;
    color: $blue;
    font-weight: 800;
    transform: rotate(-180deg);
    margin-right: 25px;

    @include responsive('small'){
        writing-mode: initial;
        transform: rotate(0deg);
        margin-right: auto;
    }
}

.single-img {
    width: 100%;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;

    @include responsive('tablet') {
        max-width: 100%;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.single-text {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;

    @include responsive('tablet') {
        width: 90%;
    }
}

.single-product-info {
    width: 80%;
    margin: auto;
    gap: 25px;
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
                        "img1 text1"
                        "text2 img2";
    margin-bottom: 50px;

    @include responsive('tablet') {
        width: 90%;
    }

    @include responsive('small') {
        grid-template-areas: 
                        "img1"
                        "text1"
                        "img2"
                        "text2";
    }
}

.product-info-img {
    &.first-img {
        grid-area: img1;
    }

    &.second-img {
        grid-area: img2;
    }

    width: 100%;
    margin: auto;
    mix-blend-mode: multiply;
    margin-bottom: 50px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-info-text {
    &.first-text {
        grid-area: text1;
    }

    &.second-text {
        grid-area: text2;
    }

    h4 {
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 12px;
    }
}

.single-social-img {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    mix-blend-mode: multiply;
    margin-bottom: 50px;

    @include responsive('tablet') {
        width: 90%;
    }

    @include responsive('small') {
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.single-gallery-container {
    max-width: min(90%, 1600px);
    margin: auto;
}

.single-images {
    width: 100%;
    margin: auto;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include responsive('small') {
        flex-direction: column;
    }

    .single-image {
        flex: calc(25% - 25px);
    }

    img {
        object-fit: cover;
    }
}

.single-images--bottom {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    padding: 10px 50px;
    background-color: $blue;
    color: $white;
}

.single {
    .container:not(.single-header-container) {
        width: 100%;
    }
}