.advantages {
    position: relative;
    margin: 50px 0;
}

.advantages--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.advantages-transition {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.advantages--col {
    grid-column: span 1;
    background: $blue;
    color: $white;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    @extend .advantages-transition;
    
    @include responsive('tablet') {
        grid-column: span 2;
    }

    @include responsive('small') {
        grid-column: span 4;
        aspect-ratio: auto;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &:hover {
        background: $white;
        cursor: default;
        @extend .advantages-transition;

        span, svg {
            color: $blue;
        }

        p {
            color: $dark;
        }
    }
}

.advantages--text {
    text-align: center;
    span {
        font-weight: 600;
        display: block;
        margin: 20px 0;
    }
}