.serviceSteps {
    position: relative;
    
    > img {
        display: block;
        object-fit: cover;
        width: 100%;
    }
}

.serviceSteps--wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px 0;
}

.serviceSteps--item {
    display: flex;
    align-items: center;
    gap: 30px;

    svg {
        max-height: 70px;
    }
}