.homeAbout {
    position: relative;
    background-color: $white;

    .title--header{
        text-align: left;
        padding-top: 20px;
        span {
            color: $blue
        }
        h2 {
            color: $blue;
        }
    }
}

.homeAbout--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    align-items: center;
    padding: 50px 0 100px 0;
    align-items: center;

    p {
        margin-bottom: 20px;
    }

    .button--blue {
        margin-top: 20px;
        display: block;
    }
    
    @include responsive('small') {
        grid-template-columns: 1fr;
    }
}

.homeAbout--img {
    img {
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }
}