.homeProducts {
    padding: 50px 0;
}

.homeProducts--wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

    @include responsive('tablet') {
        grid-template-columns: repeat(4, 1fr);
    }

    @include responsive('small') {
        grid-template-columns: repeat(2, 1fr);
    }
}

.homeProducts--header {
    //display: flex;
    align-items: center;
    padding: 50px 0;
    span {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    h2 {
        font-size: clamp(30px, 2.5vw, 50px);
        line-height: 1;
    }
}

.homeProducts--more {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .buttonDark {
        font-weight: 400;
        padding: 20px 50px;
    }
}